[submodule "Experience-CORE"]
	path = Experience-CORE
	url = https://github.com/HZKnight/Experience-CORE
	branch = develop
[submodule "Experience-GuestBook"]
	path = Experience-GuestBook
	url = https://github.com/HZKnight/eXperience-GuestBook
	branch = develop
[submodule "Experience-ErrorPages"]
	path = Experience-ErrorPages
	url = https://github.com/HZKnight/Experience-ErrorPages
	branch = develop
[submodule "fanKounter"]
	path = fanKounter
	url = https://github.com/HZKnight/fanKounter
	branch = develop
